<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-share"
        version="0.2.0">
    <name>Share</name>
    <description>Share</description>
    <license>Apache 2.0</license>
    <keywords>share,facebook,twitter</keywords>

    <js-module src="www/share.js" name="Share">
        <clobbers target="window.navigator.share" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Share">
                <param name="android-package" value="hu.rudaskarig.gispan.Share"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="application">
            <provider
                    android:name="hu.rudaskarig.gispan.FileProvider"
                    android:authorities="${applicationId}.provider"
                    android:exported="false"
                    android:grantUriPermissions="true" >
                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/share_provider_paths"/>
            </provider>
        </config-file>
        <source-file src="src/android/Share.java" target-dir="src/hu/rudaskarig/gispan" />
        <source-file src="src/android/xml/share_provider_paths.xml" target-dir="res/xml" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Share">
                <param name="ios-package" value="MMShare" />
            </feature>
        </config-file>
        <header-file src="src/ios/MMShare.h" />
        <source-file src="src/ios/MMShare.m" />
    </platform>
</plugin>
